<html lang="ja">
  <head>
    <mata charset="utf-8">
    <title>index</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>メモアプリ</h1>
    <div class=center>
      <a href="/memos/new">
        <button type="submit">追加</button>
      </a>
    </div>
    <ul>
      <% @memo_infos.each do |memo| %>
        <li><a href="<%= "/memos/#{memo[:id]}" %>"><%= memo[:title] %></li>
      <% end %>
    </ul>
  </body>
</html>
