<html lang="ja">
  <head>
    <mata charset="utf-8">
    <title>new</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>メモアプリ</h1>
    <div class=center>
      <form action="http://localhost:4567/memos" method="POST">
        <input type="text" name="title" value=""><br>
        <textarea name="memo" rows="5"></textarea><br>
        <button type="submit">保存</button>
      </form>
    <div>
  </body>
</HTML>
